.page {
  &__palace {
    margin-bottom: 64px;
  }

  &__privilege {
    margin-bottom: 71px;
  }

  &__art {
    margin-bottom: 60px;
  }

  &__extra {
    margin-bottom: 81px;
  }

  &__quality {
    margin-bottom: 53px;
  }
}
